/* ==========================================
   PROJECT PHOENIX
   style.css
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#0f172a;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.container{

    width:90%;
    max-width:500px;

    background:#1e293b;

    border:2px solid #38bdf8;

    border-radius:20px;

    padding:30px;

    text-align:center;

    box-shadow:0 0 30px rgba(56,189,248,.25);

}

h1{

    color:#38bdf8;

    margin-bottom:10px;

    text-shadow:0 0 15px #38bdf8;

}

.subtitulo{

    color:#cbd5e1;

    margin-bottom:25px;

}

.perfil{

    background:#0f172a;

    border-radius:15px;

    padding:20px;

    margin-bottom:25px;

    border:1px solid #334155;

}

.perfil h2{

    margin-bottom:15px;

}

.perfil p{

    margin:8px 0;

}

.menu{

    display:grid;

    gap:15px;

}

button{

    background:#38bdf8;

    color:white;

    border:none;

    padding:16px;

    border-radius:12px;

    font-size:17px;

    cursor:pointer;

    transition:.25s;

}

button:hover{

    transform:scale(1.03);

    background:#0ea5e9;

    box-shadow:0 0 18px #38bdf8;

}

button:active{

    transform:scale(.98);

}

@media(max-width:600px){

    .container{

        width:95%;

        padding:20px;

    }

}
